
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-container {
    display: flex;
    height: 400px;
    align-items: top;
}

ul.b {
    list-style-type: square;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 80%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
    
} 
.bio{
background-position:50px;
background-color: aquamarine;
}



@media only screen and (max-width: 576px) {
    .col {
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .col {
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 992px) {
    .col {
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    .col {
        display: block;
        width: 80%;
    }
}



